.uanlLogo {
    max-width: 100px;
}

.menu-bar {
    background-color: rgba(9, 9, 158, 0.5); /* Fondo azul con 50% de transparencia */
    height:100vh;
}


.menu-item {
    max-width: 250px !important;
}

.background {
    background-image: url("../components/img/rectoria.jpg");
    background-size: cover;
    height: 100vh;
}