main .container-fluid {
    background-image: url("img/rectoría.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.container {
    border-radius: 5px;
    background-color: #05396e; 
    padding: 20px;  
}

.logo-list li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

h4 #select-career {
    color: white;
}