.navbar .container-fluid {
    padding: 0;
}

.navbar {
    padding: 0;
}
.row {
    margin: 0;
}
.logoExcelencia {
    max-height: 80px;
}
.left-side {
    margin-left: 0px;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 500px;
    margin-left: 20px;
}

.sub-row {
    color: white;
    background-image: url("./img/rectoria.jpg");
}

.uanlLogo {
    max-height: 60px;
    margin-right: 20px;
}

.linea-vertical {
    border-left: 1px solid #000; /* Línea vertical a la izquierda */
    height: 60px; /* Altura de la línea */
    margin: 0 auto; /* Centrar horizontalmente */
  }