.navbar .container-fluid {
    color: white;
}

.first-navbar {
    background: rgba(0,74,143,0.8);
}

.uanl-logo-container {
    padding: 0;
   
}

.row {
    margin: 0;
}

.logoExcelencia {
    max-height: 80px;
}

.left-side {
    margin-left: 0px;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.second-navbar{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background: #bd995c;
}

.uanlLogo {
    max-height: 50px;
}

.linea-vertical {
    border-left: 1px solid white; /* Línea vertical a la izquierda */
    height: 50px; /* Altura de la línea */
    margin: 0 auto; /* Centrar horizontalmente */
}

@media (min-width: 360px) and (max-width: 520px) {
    .uanlLogo {
        max-height: 30px;
    }

    .linea-vertical {
        height: 30px; /* Altura de la línea */
    }

    .name {
        font-size: 9px;
    }

    .siase-container {
        font-size: 10px;
        
    }

    
.logoExcelencia {
    max-height: 30px;
}
}

